{% import 'band_question.html' as band_question %}

{% macro escreve_banda(band, show) -%}
    <li id="{{ band.slug }}" class="banda-container-li round-component box-gray">
        <div id="area-banda" class="area-banda">
            {% if band.photo %}
                <img class="lastfm-photo logo-banda" alt="imagem da banda" src="{{ band.photo }}" />
            {% else %}
                <span title="imagem da banda" class="lastfm-photo logo-banda icone-banda-default"></span>
            {% endif %}
            <div class="logo-banda-container" title="imagem da banda"></div>
        </div>

        <div class="info-banda">
            <h2>
                <span class="info-banda-nome">{{ band.name }}</span>
                <span class="info-banda-header-menor">Nota: <input type="number" value="7" class="nota" /></span>
                <span class="info-banda-header-menor">Favoritar: <a href="#{{ band.slug }}" class="favoritar rating"><span>☆</span></a></span>
            </h2>
            <div class="banda-mais-opcoes">
                <button type="button" class="shiny-red" data-toggle="modal" data-target="#modal-historia-timeline" onClick="_gaq.push(['_trackEvent', 'Band', 'Historia em timeline em uma pesquisa de banda', 'Banda: {{ band.name }} Show: {{ show.title }}']);">História da Banda numa timeline</button>
                <button type="button" class="shiny-red" data-toggle="modal" data-target="#modal-pergunte-{{ band.slug }}" onClick="_gaq.push(['_trackEvent', 'Band', 'Pergunte sobre a banda em uma pesquisa de banda', 'Banda: {{ band.name }} Show: {{ show.title }}']);">Faça uma pergunta sobre a banda</button>
            </div>
            {% if show %}
                <h3>Próximo Show</h3>
                {%- set website = show.website -%}
                {% if not website %}
                    {%- set website = show.location.website -%}
                {% endif %}
                <a {% if website %} href="{{ website }}" target="_blank" {% else %} href="#" {% endif %} class="item-lista-shows item-lista-bands" onClick="_gaq.push(['_trackEvent', 'Show', 'Show em uma pesquisa de banda', 'Banda: {{ band.name }} Show: {{ show.title }}']);">
                    {% if show.cover_image %}
                        <img alt="imagem do show" title="imagem do show" src="{{ show.cover_image }}" />
                    {% else %}
                        {% if show.location.image %}
                            <img alt="imagem do show" title="imagem do show" src="{{ show.location.image }}" />
                        {% else %}
                            <span title="imagem do show" class="icone-musicas img-default"></span>
                        {% endif %}
                    {% endif %}
                    <span class="info-show item-info">
                        <span class="banda-show">{{ show.datetime }}</span>
                        <span class="data-show">{{ show.title }}</span>
                    </span>
                </a>
            {% endif %}
            <div class="banda-mais-opcoes">
                <button type="button" class="shiny-red" data-toggle="modal" data-target="#modal-mais-shows" onClick="_gaq.push(['_trackEvent', 'Show', 'Mais shows em uma pesquisa de banda', 'Banda: {{ band.name }} Show: {{ show.title }}']);">Mais shows</button>
                <button type="button" class="shiny-red" data-toggle="modal" data-target="#modal-bandas-relacionadas" onClick="_gaq.push(['_trackEvent', 'Band', 'Bandas relacionadas em uma pesquisa de banda', 'Banda: {{ band.name }} Show: {{ show.title }}']);">Bandas relacionadas</button>
                <button type="button" class="shiny-red" data-toggle="modal" data-target="#modal-produtos" onClick="_gaq.push(['_trackEvent', 'Produtos', 'Ingressos e produtos em uma pesquisa de banda', 'Banda: {{ band.name }} Show: {{ show.title }}']);">Comprar ingressos e camisas</button>
            </div>
        </div>

        {{ band_question.gera_modal(band.slug) }}

        <button type="button" class="close-banda">&times;</button>
    </li>
{%- endmacro %}
