{% import 'venda_produtos.html' as produtos %}

{% macro gera_modal(band, BANDAS_CAMISAS, formulario_pag_seguro) -%}
    <div id="modal-produtos-{{ band.slug }}" class="modal-produtos modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Produtos de {{ band.name }}</h3>
        </div>
        <div class="modal-body">
            {%- set banda_camisas = BANDAS_CAMISAS[band.slug] -%}
            {% if banda_camisas %}
                <div id="area-produtos" class="area-produtos">
                    <ul class="lista-produtos">
                        {% if band.slug == "los-bife" %}
                            <li class="produto box-gray round-box">
                                <img class="round-component" src="/static/img/cd-los-bife.jpg">
                                <span class="info-produto">
                                    <span class="hidden item-id">1</span>
                                    <span class="nome-produto">CD Los Bife</span>
                                    <span class="quantidade-label">quantidade</span>
                                    <select class="quantidade">
                                        <option value="0" selected="selected">0 cds</option>
                                        <option value="1">1 cd</option>
                                        {% for number in range_quantidade %}
                                            <option value="{{ number }}">{{ number }} cds</option>
                                        {% endfor %}
                                    </select>
                                    <span class="valor-produto valor-monetario">R$ 15,00</span>
                                </span>
                            </li>
                        {% endif %}

                        {{ produtos.camisas(band.name, band.slug, banda_camisas["camisas"] ) }}

                        <li class="frete-container">
                            <span class="frete valor-monetario">Frete: R$ 10,00</span>
                        </li>
                    </ul>
                    <div class="pague-com-pag-seguro">
                        {{- formulario_pag_seguro | safe -}}
                    </div>
                </div>
            {% else %}
                Por enquanto não existem produtos cadastrados para essa banda.
            {% endif %}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn shiny-red close" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
    </div>
{%- endmacro %}
