{% import 'bootstrap_modal.html' as modal_generico %}
{% import 'band_question.html' as band_question %}
{% import 'band_tags.html' as band_tags %}
{% import 'bandas_relacionadas.html' as bandas_relacionadas %}
{% import 'band_products.html' as band_products %}
{% import 'contribuicao_timeline.html' as contribuicao %}

{% macro escreve_banda(band, show, notas, BANDAS_CAMISAS, formulario_pag_seguro, range_tamanhos) -%}
    <li id="{{ band.slug }}" class="banda-container-li round-component box-gray">
        <h2 id="band-header" class="info-banda-header">
            {% if band.photo %}
                <span title="imagem da banda" class="photo-icon small" style="background-image: url('{{ band.photo }}');"></span>
            {% else %}
                <span title="imagem da banda" class="photo-icon icone-banda-default small"></span>
            {% endif %}
            <span class="info-banda-nome">{{ band.name }}</span>
            <a class="info-banda-genero info-banda-link" data-toggle="modal" data-target="#modal-tags-{{ band.slug }}" href="#{{ band.slug }}">{{ band.tags[0] }}</a>
            <div class="share">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style" addthis:url="http://bands.com.br/?band={{ band.slug }}" addthis:title="Bands - {{ band.name }}" addthis:description="Confira {{ band.name }} em http://bands.com.br/?band={{ band.slug }}">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                     <a class="addthis_button_tweet"></a>
                </div>
                <script type="text/javascript"> var addthis_config = {"data_track_addressbar":true} ; </script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-518eb49137fb39b2"></script>
                <div class="favoritar-body"><a id="favoritar-{{ band.slug }}" href="#{{ band.slug }}" class="favoritar"></a><label for="favoritar-{{ band.slug }}" class="favoritar-texto">Favoritar</label></div>
                <!-- AddThis Button END -->
            </div>
            <label class="label info-banda-link">&#43; Clique para expandir</label>
        </h2>

        <div id="{{ band.slug }}-timeline" class="timeline-banda invisivel">
            <div class="contribua-timeline-body contribua-timeline-cima">
                <button type="button" class="botao-principal contribua-timeline" data-toggle="modal" data-target="#modal-contribuicao-{{ band.slug }}">Contribua com a timeline</button>
            </div>
            <iframe src="/band/{{ band.slug }}-timeline.html" style="border: 0">
                <p>Seu navegador não suporta iframes e assim não podemos exibir a timeline para você.</p>
            </iframe>
        </div>

        <div id="info-banda" class="info-banda hidden">

            <div class="banda-mais-opcoes">
                <button type="button" class="botao-principal contribua-timeline" data-toggle="modal" data-target="#modal-contribuicao-{{ band.slug }}">Contribua com a timeline</button>
                {% if band.slug == "los-bife" %}
                    <a type="button" class="botao-principal" href="/los-bife" target="_blank" onClick="_gaq.push(['_trackEvent', 'Produtos', 'Comprar produtos em uma pesquisa de banda', 'Banda: {{ band.name | escape }}']);">Compre produtos</a>
                {% else %}
                    <button type="button" class="botao-principal" data-toggle="modal" data-target="#modal-produtos-{{ band.slug }}" onClick="_gaq.push(['_trackEvent', 'Produtos', 'Comprar produtos em uma pesquisa de banda', 'Banda: {{ band.name | escape }}']);">Compre produtos</button>
                {% endif %}
                <button type="button" class="botao-principal bandas-relacionadas" data-toggle="modal" data-target="#modal-relacionadas-{{ band.slug }}">Bandas relacionadas</button>
            </div>
        </div>


        {{ band_question.gera_modal(band.slug) }}
        {{ band_tags.gera_modal(band) }}
        {{ bandas_relacionadas.gera_modal(band) }}
        {{ band_products.gera_modal(band, BANDAS_CAMISAS, formulario_pag_seguro, range_tamanhos) }}
        {{ contribuicao.gera_modal(band) }}

        <button type="button" class="close-banda" onClick="_gaq.push(['_trackEvent', 'Band', 'Fechar o box da banda', 'Banda: {{  band.name | escape  }}']);">&times;</button>
    </li>
{%- endmacro %}
