{% macro gera_modal(band) -%}
    <div id="modal-tags-{{ band.slug }}" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Escolha um gênero:</h3>
        </div>
        <div class="modal-body">
            {% for tag in band.tags %}
                <div>
                    <a href="#{{ tag }}" class="info-banda-link close" data-dismiss="modal" aria-hidden="true" onClick="_gaq.push(['_trackEvent', 'Band', 'Genero no modal', 'Banda: {{ band.name }} Genero: {{ tag }}']);">{{ tag }}</a>
                </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn botao-principal close" data-dismiss="modal" aria-hidden="true">Fechar</a>
        </div>
    </div>
{%- endmacro %}
