{% import 'opcoes_resposta.html' as opcoes_resposta %}
{% extends "master.html" %}
{% block title %}Bands - Cadastro{% endblock %}
{% block content %}
    <header itemscope itemtype="http://schema.org/Person">

        <meta itemprop="email" content="{{ current_user.email }}" />
        <img itemprop="image" src="{{ current_user.photo }}" alt="foto do perfil do facebook" />
        <span itemprop="name" class="name">{{ current_user.name }}</span>

    </header>
    <section class="feedback">
        <article>
            <h2>Complete seu cadastro:</h2>
        </article>

        <form method=post action="">

            <section class="question-main">

                {% for question in main_questions %}
                    {{ opcoes_resposta.escreve_resposta(question) }}
                {% endfor %}

            </section>


            <section id="questions" class="questions hidden">

                <span class="question musico">Qual é o nome de sua banda?</span>

                <div class="answer">
                    <input type="text" id="banda" name="banda" class="musico" />
                </div>

                <input type=submit id="salvar-cadastro" class="shiny-red" value="Salvar" />

            </section>
        </form>
    </section>

{% endblock %}

