{% macro gera_modal(band) -%}
    <div id="modal-contribuicao-{{ band.slug }}" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Contribua com a timeline desta banda:</h3>
        </div>
        <div class="modal-body">
            Data: <input class="data-acontecimento" type="text" style="width: 100px" /><br />
            Acontecimento: <textarea class="texto-acontecimento"></textarea>
            <p>
                Ou mande um email para contato@bands.com.br
            </p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn shiny-red close enviar-contribuicao" data-dismiss="modal" aria-hidden="true">Enviar</a>
        </div>
    </div>
{%- endmacro %}
