{% extends "master.html" %}

{% block title %}Bands - Home{% endblock %}

{% block content %}
    <article itemprop="about" class="descricao">
    	<p class="problema">
			Já percebeu como é difícil achar informações completas de uma banda na internet?<br />
            Que tal conhecê-la desde a sua criação até os dias de hoje?
    	</p>
    	<p class="solucao">
    		<b>Bands</b> é uma maneira fácil e inovadora para conhecer bandas e músicos.<br />
            <br />

            Uma página para cada banda, contendo:<br />
              - História<br />
              - Integrantes (atuais e antigos)<br />
              - Discografia<br />
              - Shows e eventos<br />
              - Notas e reviews criados pelos fãs<br />
              - Bandas relacionadas<br />
            <br />

            Conheça suas bandas preferidas!<br />
            E se você é músico, divulgue o trabalho da sua banda!<br />
    	</p>
    	<p class="proposta">
    		Quer saber mais?
    	</p>

        <a href="{{ url_for('login') }}" class="btn-auth btn-facebook large login-facebook">
            Faça login pelo
            <b>Facebook</b>
        </a>
    </article>
{% endblock %}
