{% import 'lista_shows.html' as lista_shows %}
{% extends "master.html" %}

{% block title %}Bands - Home{% endblock %}

{% block content %}

    {% if not current_user %}
        <section id="funcionalidades-home" class="funcionalidades-home">
            <article id="acompanhe-shows" class="acompanhe-shows">
                <a href="#shows-locais" onClick="_gaq.push(['_trackEvent', 'Show', 'Acompanhe Shows', 'Acompanhe os Shows']);">
                    <span class="acompanhe-shows-icone"></span>
                    <h2>Acompanhe os Shows</h2>
                </a>
            </article>


            <article id="siga-bandas" class="siga-bandas ">
                <a href="{{ url_for('login') }}" onClick="_gaq.push(['_trackEvent', 'Bands', 'Siga Bandas', 'Siga Bandas']);">
                    <span class="siga-bandas-icone"></span>
                    <h2>Siga Bandas</h2>
                </a>
            </article>

            <article id="cadastre-bandas" class="cadastre-bandas">
                <a href="{{ url_for('login') }}" onClick="_gaq.push(['_trackEvent', 'Bands', 'Cadastre Bandas', 'Cadastre Bandas']);">
                    <span class="cadastre-bandas-icone"></span>
                    <h2>Cadastre Bandas</h2>
                </a>
            </article>

        </section>
    {% endif %}

    <section id="area-show-home" class="area-show-home">
        {% if not current_user %}
            <article class="explicacao-site titulo-show">
                <h2>O que é o site Bands?</h2>
                <article class="cadastro">

                    <span class="explicacao texto-normal"> Para músicos que procuram mais fãs. E para fãs que querem conhecer melhor seus músicos e novos artistas.</span>
                    <span class="explicacao texto-normal"> Bands é um site que é para conectar fãs e músicos.</span>
                    <span class="explicacao texto-normal"> Atualmente contamos com serviços de cadastrar/seguir bandas e de visualizar seus shows.</span>

                    <span class="explicacao">Para salvar bandas e shows que queira acompanhar:</span><br />
                    <a href="/login/" onClick="_gaq.push(['_trackEvent', 'Login', 'Login Botao', 'Botao Faca Login', 'Login area minhas bandas pela index page']);" class="btn-auth btn-facebook large login-facebook">
                        Faça login pelo
                        <b>Facebook</b>
                    </a>
                    <span class="explicacao">Se quiser ver agora os shows das bandas da sua cidade ou shows de alguma banda específica, confira as listas abaixo.</span>
                </article>
            </article>
        {% endif %}

        {% if current_user and not newsletter %}
            <div class="newsletter">
                <div class="newsletter-inner">
                    <span class="icon-email"></span>
                    <span class="question">Gostaria de receber novos shows por email?</span>
                    <span><a class="answer-principal shiny-red" href="#" onClick="_gaq.push(['_trackEvent', 'Newsletter', 'Show', 'Show: sim']);">Sim</a></span>
                    <span><a class="answer-principal shiny-red" href="#" onClick="_gaq.push(['_trackEvent', 'Newsletter', 'Show', 'Show: nao']);">Não</a></span>
                </div>
            </div>
        {% endif %}

        <article id="shows-locais" class="shows-local titulo-show">
            <h2>Shows Locais</h2>
            <ul>
                {% for show in shows_locais %}
                    {%- set band_name = show.artists[0].name -%}
                    {%- set analytics_action = 'Ver show local' -%}
                    {{ lista_shows.escreve_show(analytics_action, band_name, show) }}
                {% endfor %}
            </ul>

        </article>

        <article id="minhas-bandas-shows" class="minhas-bandas-shows titulo-show">
                <h2>Shows das minhas bandas</h2>
                <div id="opcoes-procurar-bandas" class="opcoes-procurar-bandas">
                    <input id="opcoes-procurar-bandas-text" class="opcoes-procurar-bandas-text fullwidth-textbox" placeholder="Nome da banda para ver próximo show" type="text" list="bandas" />
                    <input id="opcoes-procurar-bandas-button" class="shiny-red add-btn" type="button" value="Procurar" />
                    <span id="erro-procurar-bandas" class="error erro-procurar-bandas invisivel"></span>
                </div>
                <datalist id="bandas">
                    {% for band in all_bands %}
                        <option value="{{ band.name }}" />
                    {% endfor %}
                </datalist>
                <ul id="minhas-bandas-shows-lista" class="minhas-bandas-shows-lista">
                    {% if current_user %}
                        {% if minhas_bandas_shows %}
                            {% for band, band_shows in minhas_bandas_shows %}
                                {%- set band_name = band.name -%}
                                {%- set show = band_shows[0] -%}
                                {%- set analytics_action = 'Ver show das minhas bandas' -%}
                                {{ lista_shows.escreve_show(analytics_action, band_name, show) }}
                            {% endfor %}
                        {% else %}
                            <span class="explicacao">
                                <p>Nenhum show está cadastro no momento para as bandas que você gosta.</p>
                                <p><a href="">Tente novamente em 5 minutos, enquanto buscamos...</a></p>
                            </span>
                        {% endif %}
                    {% else %}
                        {% for band, band_shows in top_shows %}
                            {%- set band_name = band.name -%}
                            {%- set show = band_shows[0] -%}
                            {%- set analytics_action = 'Ver show das top bandas' -%}
                            {{ lista_shows.escreve_show(analytics_action, band_name, show) }}
                        {% endfor %}
                    {% endif %}
                </ul>
        </article>

    </section>

{% endblock %}
