<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        {% block css %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        
    {% endblock %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <header>

        <h1 itemprop="name">Bands</h1>

    </header>
    <section class="container">

        {% block content %}{% endblock %}

    </section>
    <footer>

        {% block footer %}
            <p>&copy; Copyright 2012 by <a itemprop="url" href="http://www.bands.com.br/">Bands</a>.</p>
            <span itemprop="author" itemscope itemtype="http://schema.org/Corporation">
            	<meta itemprop="name" content="Bands" />
           </span>
        {% endblock %}

    </footer>
    {% block js %}{% endblock %}
</body>
