<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        {% assets filter="yui_css", output="css/gen/import-min.css",
            "css/normalize.css", "css/zocial.css", "css/styles.css", "css/index.css", "css/resultados_gerais.css", "css/cadastro.css", "css/minhas_bandas.css", "css/venda-produtos.css"  %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        <link href='http://fonts.googleapis.com/css?family=Kreon' rel='stylesheet' type='text/css'>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />

        <!--[if lt IE 10]>
		    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
		    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-load.js') }}"></script>
        <![endif]-->

        <meta property="og:image" content="http://bands.com.br/static/img/logoBands.jpg"/>
        <meta property="og:description" content="Bands é uma maneira fácil e inovadora para conhecer bandas e músicos.
Em bands.com.br você verá conteúdo relevante das bandas e músicos que você gosta."/>

        {% block css %}{% endblock %}
        {% block js_cima %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>

    {% endblock %}

</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <!-- ClickTale Top part -->
    <script type="text/javascript">
        var WRInitTime=(new Date()).getTime();
    </script>
    <!-- ClickTale end of Top part -->

    <!-- necessário para o like de página -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=331094640322873";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <section class="container">
        <header>
            <div id="div-topo" class="div-topo">
                <span id="span-logo-slogan" class="span-logo-slogan">
                    <span id="div-logo" class="div-logo">
                        <h1 class="logo" itemprop="name"><a href="/" onClick="_gaq.push(['_trackEvent', 'Home', 'Home Logo', 'Home pelo Logo']);">Bands</a></h1>
                    </span>

                    <span class="slogan-box">
                        <span class="slogan">Além da música, os músicos</span>
                    </span>
                </span>

                {% set classe_logado = "deslogado" %}
                {% if current_user %}
                    {% set classe_logado = "logado" %}
                {% endif %}
                <span id="user-box-top" class="user-box-top {{ classe_logado }}">

                    {% if current_user %}
                        <div id="user-welcome" class="user-welcome">
                            <article>Bem-Vindo,</article>
                            <article><b>{{ current_user.name }}</b><span id="current_user_id" class="hidden">{{ current_user.facebook_id }}</span> </article>
                        </div>
                        <span id="user-box-options" class="user-box-options">
                            <img id="user-box-photo" class="user-box-photo" itemprop="image" src="{{ current_user.photo }}" alt="foto do perfil do facebook" />
                            <img id="user-box-seta" class="user-box-seta" itemprop="image" src="../static/img/setaMenu.png" alt="seta para opções do menu do usuário" />
                        </span>

                        <div id="user-menu" class="user-menu invisivel">
                            <ul id="menu-lista" class="menu-lista">
                                <li><a href="{{ url_for('index') }}" onClick="_gaq.push(['_trackEvent', 'Home', 'Home Menu', 'Home pelo Menu']);">Home</a></li>
                                <li><a href="{{ url_for('minhas_bandas') }}" onClick="_gaq.push(['_trackEvent', 'Bands', 'Bands Menu', 'Minhas Bandas pelo Menu']);">Minhas Bandas</a></li>
                                <li><a href="{{ url_for('logout') }}" onClick="_gaq.push(['_trackEvent', 'Logout', 'Logout Menu', 'Logout pelo Menu']);">Sair</a></li>
                            </ul>
                        </div>

                    {% else %}
                        <div id="login-menu" class="login-menu">
                            <article>Você não está conectado.</article>
                            <a href="{{ url_for('login') }}" onClick="_gaq.push(['_trackEvent', 'Login', 'Login Master', 'Login topo pela master page']);">Faça Login pelo Facebook</a>
                        </div>
                    {% endif %}
                </span>
            </div>

        </header>
        <section class="content">

            {% block content %}{% endblock %}

        </section>
        <footer>

            {% block footer %}
                <p>&copy; Copyright 2012 by <a itemprop="url" href="http://www.bands.com.br/" onClick="_gaq.push(['_trackEvent', 'Home', 'Home Footer', 'Home pelo Footer']);">Bands</a>.</p>
                <span itemprop="author" itemscope itemtype="http://schema.org/Corporation">
                    <meta itemprop="name" content="Bands" />
               </span>
            {% endblock %}

        </footer>
    </section>

    {% assets filter="yui_js", output="js/gen/import-min.js",
        "js/index.js", "js/cadastro.js", "js/votacao.js", "js/master.js", "js/venda-produtos.js", "js/user-voice.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if debug == False %}
        <script type="text/javascript" src="/static/js/google_analytics.js"></script>
        <script type="text/javascript" src="/static/js/crazy_egg.js"></script>
    {% endif %}

    {% block js %}{% endblock %}

    <!-- ClickTale Bottom part -->
    <div id="ClickTaleDiv" style="display: none;"></div>
    <script type="text/javascript">
        if(document.location.protocol!='https:')
            document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRe0.js'%20type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        if(typeof ClickTale=='function') ClickTale(20555,1,"www14");
    </script>
    <!-- ClickTale end of Bottom part -->
</body>
