<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        {% assets filter="yui_css", output="css/gen/import-min.css",
            "css/normalize.css", "css/styles.css", "css/index.css", "css/resultados_gerais.css", "css/pesquisa.css"  %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />

        <!--[if lt IE 10]>
		    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
		    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-load.js') }}"></script>
        <![endif]-->

        {% block css %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        
    {% endblock %}

</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <section class="container">
        <header>
            <div id="div-logo" class="div-logo">
                <h1 class="logo" itemprop="name"><a href="/">Bands</a></h1>
            </div>

            <div id="user-box-top" class="user-box-top">

                {% if current_user %}
                    <a href="{{ url_for('logout') }}" onClick="_gaq.push(['_trackEvent', 'Logout', 'Logout Master', 'Logout pela master page']);">Sair</a>
                {% else %}
                    <a href="{{ url_for('login') }}" onClick="_gaq.push(['_trackEvent', 'Login', 'Login Master', 'Login topo pela master page']);">Login</a>
                {% endif %}
            </div>

        </header>
        <section class="content">

            {% block content %}{% endblock %}

        </section>
        <footer>

            {% block footer %}
                <p>&copy; Copyright 2012 by <a itemprop="url" href="http://www.bands.com.br/">Bands</a>.</p>
                <span itemprop="author" itemscope itemtype="http://schema.org/Corporation">
                    <meta itemprop="name" content="Bands" />
               </span>
            {% endblock %}

        </footer>
    </section>

    {% if debug == True %}

        {% assets filter="yui_js", output="js/gen/import-min.js",
            "js/index.js", "js/pesquisa.js", "js/votacao.js" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

    {% elif debug == False %}

        {% if mode == "tagcloud" %}

            {% assets filter="yui_js", output="js/gen/import-min.js",
            "js/index.js", "js/pesquisa.js", "js/votacao.js", "js/google_analytics.js", "js/google_analytics_experiment.js" %}
                <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}

        {% else %}

            {% assets filter="yui_js", output="js/gen/import-min.js",
            "js/index.js", "js/pesquisa.js", "js/votacao.js", "js/google_analytics.js" %}
                <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}

        {% endif %}

    {% endif %}

    {% block js %}{% endblock %}
</body>
