{% extends "master.html" %}
{% import 'bootstrap_modal.html' as bootstrap_modal %}
{% import 'band_search.html' as band_search %}

{% block title %}Bands - Home{% endblock %}

{% block content %}

    <section id="area-banda-home" class="area-show-home area-bandas-nova-home">
        {% if not current_user %}
            <article class="explicacao-site titulo-show lista-pagina-principal-container">
                <h2>Busque pela sua banda preferida e saiba tudo dela!</h2>
            </article>
        {% endif %}

        <article id="minhas-bandas" class="minhas-bandas lista-pagina-principal-container">
            <div id="opcoes-procurar-bandas" class="opcoes-procurar-bandas">
                <input id="opcoes-procurar-bandas-text" class="opcoes-procurar-bandas-text fullwidth-textbox" placeholder="DIGITE AQUI A BANDA OU MÚSICO QUE VOCÊ DESEJA SABER TUDO SOBRE" type="text" list="bandas" />
                <input id="opcoes-procurar-bandas-button" class="shiny-red add-btn procurar" type="button" value="Procurar" />
                <span id="erro-procurar-bandas" class="error erro-procurar-bandas invisivel"></span>
            </div>
            <datalist id="bandas">
            </datalist>
            <ul id="minhas-bandas-lista" class="minhas-bandas-lista">
                {% for band, band_shows in minhas_bandas_shows %}
                    {%- set show = band_shows[0] -%}
                    {{ band_search.escreve_banda(band, show, notas, BANDAS_CAMISAS, formulario_pag_seguro) }}
                {% endfor %}
            </ul>
        </article>

    </section>

    {%- set modal_corpo = 'Ainda não temos mais shows para essa banda, clique em login no topo do site para ser avisado quando tivermos.' -%}
    {{ bootstrap_modal.gera_modal('modal-mais-shows', 'Mais Shows', modal_corpo) }}

{% endblock %}
