{% extends "master.html" %}
{% import 'bootstrap_modal.html' as bootstrap_modal %}
{% import 'band_search.html' as band_search %}

{% block title %}Bands - Home{% endblock %}

{% block content %}

    <section class="explicacao-site">
        <div id="opcoes-procurar-bandas" class="opcoes-procurar-bandas">
            <input id="opcoes-procurar-bandas-text" class="opcoes-procurar-bandas-text fullwidth-textbox" placeholder="digite uma banda ou músico que você deseja conhecer melhor" type="text" list="bandas" />
            <span class="loupa-icon"></span>
            <span id="erro-procurar-bandas" class="error erro-procurar-bandas invisivel"></span>
        </div>
        <datalist id="bandas">
        </datalist>
    </section>


    <section id="area-banda-home" class="content-home area-show-home area-bandas-nova-home">

        <article id="minhas-bandas" class="minhas-bandas lista-pagina-principal-container">

            <ul id="minhas-bandas-lista" class="minhas-bandas-lista">
                <li id="banda-loading" class="banda-loading banda-container-li round-component box-gray hidden">
                    <img src="/static/timelinejs-compiled/css/loading.gif" />
                </li>
                {% for band, band_shows in minhas_bandas_shows %}
                    {%- set show = band_shows[0] -%}
                    {{ band_search.escreve_banda(band, show, notas, BANDAS_CAMISAS, formulario_pag_seguro) }}
                {% endfor %}
            </ul>
        </article>

    </section>

    {%- set modal_corpo = 'Ainda não temos mais shows para essa banda, clique em login no topo do site para ser avisado quando tivermos.' -%}
    {{ bootstrap_modal.gera_modal('modal-mais-shows', 'Mais Shows', modal_corpo, "Fechar") }}

{% endblock %}
