{% import 'votacao.html' as votacao %}
{% extends "master.html" %}
{% block title %}Bands - Pesquisa Sucesso{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/pesquisa.css') }}" />{% endblock %}
{% block content %}
    <header itemscope itemtype="http://schema.org/Person">

        <meta itemprop="email" content="{{ current_user.email }}" />
        <img itemprop="image" src="{{ current_user.photo }}" alt="foto do perfil do facebook" />
        <span itemprop="name" class="name">{{ current_user.name }}</span>

    </header>
    <section class="feedback-success">
        <h2 class="thank-you">Obrigado por responder a pesquisa!</h2>
        <h2>Agora queremos saber se você lembra de todas as bandas que gosta:</h2>
        {{ votacao.adiciona_bandas(bands, bands_user, current_user) }}
        <a href="/pesquisa-sucesso" class="shiny-red salvar-btn">Salvar</a>
    </section>

{% endblock %}

