{% extends "master.html" %}
{% block title %}Pesquisa{% endblock %}
{% block content %}
    <header itemscope itemtype="http://schema.org/Person">

        <meta itemprop="email" content="{{ current_user.email }}" />
        <img itemprop="image" src="{{ current_user.photo }}" alt="foto do perfil do facebook" />
        <span itemprop="name" class="name">{{ current_user.name }}</span>

    </header>
    <section>
        <p>
            Quer concorrer a contas Premium, ser avisado quando o site for lançado e ter vantagem nos sorteios que iremos fazer no início?
        </p>
        <p>
            Participe da nossa pesquisa.
        </p>

        <form method=post action="">

            <section class="question_main">

                <span class="question">Qual opção se enquadra melhor no seu perfil?</span>

                <input id="answer_membro_de_banda" name="answer_main" class="answer_main" type="radio" value="membro_de_banda" />
                <label for="answer_membro_de_banda">Sou integrante de uma banda.</label>

                <input id="answer_musico_independente" name="answer_main" class="answer_main" type="radio" value="musico_independente" />
                <label for="answer_musico_independente">Sou um músico independente.</label>

                <input id="answer_musico_sem_banda" name="answer_main" class="answer_main" type="radio" value="musico_sem_banda" />
                <label for="answer_musico_sem_banda">Sou músico, mas não tenho banda.</label>

                <input id="answer_fa" name="answer_main" class="answer_main" type="radio" value="fa" />
                <label for="answer_fa">Gosto de música, mas não sou músico.</label>

            </section>


            <section id="questions" class="questions hidden">

                {% for question in questions %}
                    {% set answer_value = question.answers[1] %}
                    {% if post_data %}
                        {% set answer_value = post_data.answers[loop.counter] %}
                    {% endif %}

                    <span class="question">{{- question.question -}}</span><br />
                    {% for answer in question.answers %}
                        <textarea id="answers{{ loop.counter0 }}" name="answers">{{ answer.answer }}</textarea>
                    {%- endfor -%}

                {%- endfor -%}

                <input type=submit value="Enviar" />

            </section>
        </form>
    </section>

{% endblock %}

{% block js %}<script type="text/javascript" src="{{ url_for('static', filename='js/pesquisa.js') }}"></script>{% endblock %}

