{% extends "master.html" %}
{% block title %}Bands - Pesquisa{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/pesquisa.css') }}" />{% endblock %}
{% block content %}
    <header itemscope itemtype="http://schema.org/Person">

        <meta itemprop="email" content="{{ current_user.email }}" />
        <img itemprop="image" src="{{ current_user.photo }}" alt="foto do perfil do facebook" />
        <span itemprop="name" class="name">{{ current_user.name }}</span>

    </header>
    <section class="feedback">
        <p>
            <h2>Quer concorrer a contas Premium, ser avisado quando o site Bands for lançado e ter vantagem nos sorteios que iremos fazer no início?</h2>
        </p>
        <p>
            <h2>Participe da nossa pesquisa. E não se preocupe, a pesquisa é anônima ;)</h2>
        </p>

        <form method=post action="">

            <section class="question-main">

                <span class="question">Você é músico?</span>

                <div class="answer_main">
                    <input id="answer_musico" data-class-name-to-show="musico" name="answer_main" class="answer_main" type="radio" value="musico" />
                    <label for="answer_musico">Sim (membros de banda, músico independente ou músico sem banda)</label>
                </div>

                <div class="answer_main">
                    <input id="answer_fa" data-class-name-to-show="fa" name="answer_main" class="answer_main" type="radio" value="fa" />
                    <label for="answer_fa">Não</label>
                </div>

            </section>


            <section id="questions" class="questions hidden">

                {% for question in questions %}
                    {% set question_index = loop.index0 %}

                    <span class="question {{ question.class_name }}">{{ question.question }}</span>

                    {% if question.type == "textarea" %}

                        <div class="answer">
                            <textarea id="answers{{ question_index }}"
                                      name="answers{{ question_index }}" class="{{ question.class_name }}"></textarea>
                        </div>

                    {% elif question.type == "checkbox_textarea" %}

                        {% for answer in question.answers %}
                            <div class="answer">
                                <input type="checkbox" id="answers{{ question_index }}{{ loop.index0 }}"
                                       name="answers{{ question_index }}" class="{{ question.class_name }}" value="{{ answer }}" />

                                <label for="answers{{ question_index }}{{ loop.index0 }}" class="{{ question.class_name }}">{{ answer }}</label>
                            </div>
                        {% endfor %}

                        <div class="answer">
                            <label for="answers{{ question__index }}" class="{{ question.class_name }} label-outros">{{ question.outros }}</label>
                            <textarea id="answers_outros{{ question_index }}" name="answers_outros{{ question_index }}"
                                      class="{{ question.class_name }}"></textarea>
                        </div>

                    {% endif %}

                {% endfor %}

                <input type=submit class="shiny-blue" value="Pronto, acabou." />

            </section>
        </form>
    </section>

{% endblock %}

{% block js %}<script type="text/javascript" src="{{ url_for('static', filename='js/pesquisa.js') }}"></script>{% endblock %}

