{% extends "master.html" %}
{% block title %}Bands - Resultados Gerais{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/resultados_gerais.css') }}" />{% endblock %}
{% block content %}
    <header itemscope itemtype="http://schema.org/Person">

        <meta itemprop="email" content="{{ current_user.email }}" />
        <img itemprop="image" src="{{ current_user.photo }}" alt="foto do perfil do facebook" />
        <span itemprop="name" class="name">{{ current_user.name }}</span>

    </header>
    <section class="resultados-gerais">
        <h1 class="label-resultados-gerais">Bandas (total de: {{ len_bands }}):</h1><br />
        <ul>
            {% for band in bands %}
                <li>{{ band.label }} - {{ band.size }}</li>
            {% endfor %}
        </ul>
        <br /><h1 class="label-resultados-gerais">Usuários (total de: {{ users|count }}):</h1><br />
        {% for user in users %}
            <img src="{{ user.photo }}" alt="{{ user.name }}" />
            <strong>{{ user.name }} / {{ user.email }}</strong>
        {% endfor %}
        <br /><h1 class="label-resultados-gerais">Perguntas e Respostas:</h1><br />
        {% for question_and_all_answers in questions_and_all_answers %}
            <h3>{{ question_and_all_answers.question.question }} <small>({{ question_and_all_answers.question.slug }})</small></h3>
            <ul>
                {% for answer in question_and_all_answers.answers %}
                    <li>{{ answer }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <br /><h1 class="label-resultados-gerais">Funcionalidades (Fã):</h1><br />
        <ul>
            {% for funcionalidade in funcionalidades_fa %}
                <li>{{ funcionalidade[0] }}({{ funcionalidade[1] }})</li>
            {% endfor %}
        </ul>
        <br /><h1 class="label-resultados-gerais">Funcionalidades (Músico):</h1><br />
        <ul>
            {% for funcionalidade in funcionalidades_musico %}
                <li>{{ funcionalidade[0] }}({{ funcionalidade[1] }})</li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}

