{% extends "master.html" %}
{% import 'venda_produtos.html' as produtos %}

{% block title %}Bands - Los Bife - Produtos{% endblock %}
{% block js_cima %}<script> semEstoque = [{{ sem_estoque|safe }}]; </script>{% endblock %}
{% block content %}
    <section id="produtos-section" class="produtos-section {% if produtos_section and dark %}produtos-section-dark{% endif %}">
        <div id="area-banda" class="area-banda">
            <img class="logo-banda" alt="Los Bife" src="/static/img/los-bife.jpg">
            <div class="logo-banda-container"></div>
        </div>
        <div id="area-produtos" class="area-produtos">
            <h2 id="nome-banda-produtos" class="nome-banda-produtos titulo-produtos">Los Bife</h2>
            <h3 id="titulo-produtos" class="titulo-produtos">Produtos</h3>
            <ul class="lista-produtos">
                <li class="produto box-gray round-box">
                    <img class="round-component" src="/static/img/cd-los-bife.jpg">
                    <span class="info-produto">
                        <span class="hidden item-id">1</span>
                        <span class="nome-produto">CD Super Supérfluo</span>
                        <span class="quantidade-label">quantidade</span>
                        <select class="quantidade">
                            <option value="0" selected="selected">0 cds</option>
                            <option value="1">1 cd</option>
                            {% for number in range_quantidade %}
                                <option value="{{ number }}">{{ number }} cds</option>
                            {% endfor %}
                        </select>
                        <span class="valor-produto valor-monetario">R$ 15,00</span>
                    </span>
                </li>
                {{ produtos.camisas("Los Bife", "los-bife", camisas, range_tamanhos) }}
                <li class="frete-container">
                    <span class="frete valor-monetario">Frete: R$ 16,00</span>
                </li>

            </ul>
            <div class="pague-com-pag-seguro">
                {{- formulario_pag_seguro | safe -}}
            </div>
        </div>
        {% if produtos_section %}
            <footer>
                Quer saber de shows e produtos de mais bandas? Acesse o
                <a class="logo-footer-link" target="_blank" href="http://bands.com.br">
                    <img src="/static/img/logoBands.png">
                </a>
            </footer>
        {% endif %}
    </section>
{% endblock %}

{% block css %}{% if produtos_section %}<link href='/static/css/apenas-produtos-section.css' rel='stylesheet' type='text/css'>{% endif %}{% endblock %}
{% block js %}{% if produtos_section %}<script type="text/javascript" src="/static/js/apenas-produtos-section.js"></script>{% endif %}{% endblock %}

