{% macro camisas(banda_name, banda_slug, camisas, range_tamanhos) -%}
{% for camisa in camisas %}
    <li class="produto box-gray round-box">
        <img class="round-component" src="/static/img/camisa-{{ banda_slug }}-{{ camisa.tipo }}.jpg">
        <span class="info-produto">
            <span class="hidden item-id">2</span>
            <span class="nome-produto">Camisa {{ banda_name }} - {{ camisa.tipo }}</span>
            <span class="quantidade-label">quantidade</span>
            <span class="camisa-tamanhos quantidade">
                {% for tamanho in range_tamanhos %}
                    <span class="camisa-tamanho-container"><input type="text" class="quantidade-cada-camisa camisa-{{ banda_slug }}-{{ camisa.tipo|replace(" ","-") }}-{{ tamanho|replace(" ","-") }}"><span class="camisa-tamanho">{{ tamanho }}</span></span>
                {% endfor %}
            </span>
            <span class="valor-produto valor-monetario">R$ {{ camisa.preco }}</span>
        </span>
    </li>
{% endfor %}
{%- endmacro %}