{% macro adiciona_bandas(bands, bands_user) -%}

    <div>
        <ul class="bands">
            {% set maximo = 15 %}
            {% if bands|count < 15 %}
                {% set maximo = bands|count %}
            {% endif %}
            {% for i in range(maximo) %}
                <li>{{ bands[i] }}</li>
            {% endfor %}
            {% for band in bands_user %}
                <li>{{ band }}</li>
            {% endfor %}
        </ul>
        <datalist id="bandas">
            {% for band in bands %}
                <option value="{{ band }}">
            {% endfor %}
        </datalist>
        <input id="adicionar-item-votacao-text" type="text" list="bandas" />
        <input id="adicionar-item-votacao-button" type="button" value="Adicionar" />
    </div>

{%- endmacro %}