{% macro adiciona_bandas(bands, bands_user, user) -%}

    <div class="add_bands">
        <ul class="list_bands_user_likes">
            {% set maximo = 15 %}
            {% if bands|count < 15 %}
                {% set maximo = bands|count %}
            {% endif %}
            {% if maximo > 0 %}
                <div id="bandas-sugeridas" class="bandas-sugeridas">
                    <span class="label-area-bandas">Bandas sugeridas:</span>
                    <ul id="bandas-sugeridas-list">
                        {% for i in range(maximo) %}
                            <li onClick="_gaq.push(['_trackEvent', 'Bands', 'Curtir Banda em Minhas Bandas', 'Banda: {{ bands[i].name }}']);">
                                <input id="{{ bands[i].slug }}" type="checkbox" class="item-votacao" value="{{ bands[i].slug }}" />
                                <label for="{{ bands[i].slug }}" class="banda-sugerida">{{ bands[i].name }}<label for="{{ bands[i].slug }}" class="arrow-icon"></label></label>
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="" class="bandas-sugeridas-mais-bandas" onClick="_gaq.push(['_trackEvent', 'Bands', 'Outras Bandas', 'Mostrar Outras Bandas no Minhas Bandas']);">mostrar outras bandas</a>
                </div>
            {% endif %}
            <div id="minhas-bandas" class="minhas-bandas">
                <span class="label-area-bandas">Minhas bandas (<span id="numero-minhas-bandas">{{ bands_user|count }}</span>):</span>
                <div id="minhas-bandas-itens" class="minhas-bandas-itens">
                    <ul id="minhas-bandas-list" class="list">
                        {% for band in bands_user %}
                            <li onClick="_gaq.push(['_trackEvent', 'Bands', 'Descurtir Banda em Minhas Bandas', 'Banda: {{ band.name }}']);">
                                <input id="{{ band.slug }}" type="checkbox" checked="checked" class="item-votacao" value="{{ band.slug }}" />
                                <span class="minhas-bandas-name">
                                    <label for="{{ band.slug }}" class="remove-icon"></label><span class="sort-search minha-banda">{{ band.name }}</span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="opcoes-adicionar-minhas-bandas">
                    <input id="adicionar-item-votacao-text" class="adicionar-item-votacao-text" type="text" list="bandas" />
                    <input id="adicionar-item-votacao-button" class="shiny-red add-btn" type="button" value="Adicionar" onClick="_gaq.push(['_trackEvent', 'Bands', 'Adicionar Bandas', 'Adicionar Bandas no Minhas Bandas']);"/>
                </div>
            </div>
        </ul>
        <datalist id="bandas">
            {% for band in bands %}
                <option value="{{ band.name }}" />
            {% endfor %}
        </datalist>

    </div>

{%- endmacro %}