#uvTab{
    display: none !important;
}

body, .container, footer, .content, .produtos-section{
    width: 700px;
    margin: 0 0;
}

footer{
    font-weight: bold;
    margin-top: 15px;
}

.produtos-section-dark{
    padding-top: 10px;
    background-color: #000000;
}

.area-produtos{
    margin-left: 73px;
}

.produtos-section .titulo-produtos{
    margin-bottom: 15px;
}

.logo-footer-link{
    display: inline-block;
    position: relative;
    top: 10px;
}

.logo-footer-link img{
    width: 64px;
    height: 50px;
}