section.content header{
    background: none;
    height: auto;
    font-size: 16px;
}

section.feedback{
    margin: auto;
    font-size: 16px;
}

section.feedback form{
    display: block;
    margin: auto;
    width: 500px;
}

section.questions div.answer label.label-outros {
    display: inline-block;
    width: 100%;
    margin: 6px auto;
    font-weight: bold;
}

section.questions span.question{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

section.question-main span.question, section.questions span.question{
    font-weight: bold;
}

section.questions input[type=submit]{
    margin: 15px 0px;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    height: 35px;
    font-size: 18px;
}
