/* Área de Funcionalidades */
section.funcionalidades-home{
    margin-top: 30px;
}

section.funcionalidades-home article{
    width: 270px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    border: 1px solid rgba(66, 66, 66, 0.3);
    border-top: 2px solid #9F0902;
    -webkit-box-shadow: 0px 2px 1px 1px rgba(200, 200, 200, 0.5);
    box-shadow: 0px 2px 1px 1px rgba(200, 200, 200, 0.5);
}

section.funcionalidades-home article.acompanhe-shows{
    margin-left: 0;
}

section.funcionalidades-home article.siga-bandas{
    margin: 0 auto 0 39px;
}

section.funcionalidades-home article.cadastre-bandas{
    float: right;
}

section.funcionalidades-home article h2{
    font-size: 11pt;
    font-family: arial;
    text-transform: none;
}

section.funcionalidades-home article a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

section.funcionalidades-home article span{
    float: left;
    background: url("/static/img/icones-home.jpg") no-repeat top left;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto 10px;
}

section.funcionalidades-home article span.cadastre-bandas-icone{
    background-position: 0 0;
}

section.funcionalidades-home article span.siga-bandas-icone{
    background-position: -48px 0px;
}

section.funcionalidades-home article span.acompanhe-shows-icone{
    background-position: -100px 0;
}

section.funcionalidades-home article h2{
    color: #9F0902;
}

.newsletter {
    width: 100%;
    height: 60px;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #C7C7C7;
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #E0E0E0;
}

.newsletter-inner{
    border-left: 2px solid #9F0902;
    height: 100%;
}

.question{
    color: #9F0902;
    font-family: arial;
    font-size: 15px;
}

.icon-email {
    background: url("/static/img/newsletter.jpg") no-repeat top left;
    width: 50px;
    height: 50px;
    top: 8px;
    position: relative;
}

.newsletter .question{
    top: 22px;
    position: relative;
}

.newsletter .answer-principal {
    top: 14px;
    position: relative;
}

.newsletter span {
    float: left;
    margin: 0 10px;
}

/* Listas com pontilhados */

.lista-pagina-principal-container{
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 3px dashed #BBBBBB;
    font-size: 11pt;
    padding: 4pt 4pt 25px;
    position: relative;
    width: 1000px;
}

.lista-pagina-principal-container ul{
    font-size: 0;
    left: -20px;
    margin: 0 auto;
    min-height: 150px;
    position: relative;
    width: 1000px;
}

.lista-pagina-principal-container li{
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 30px 0;
    vertical-align: top;
    width: 488px;
    background-color: #fbfbfb;
}

.lista-pagina-principal-container .pague-com-pag-seguro{
    float: left;
    margin: 0 10px 10px 3px;
}

.item-lista-bands{
    display: inline-block;
    height: 100%;
    width: 100%;
    font-size: 0;
}

.item-lista-bands img, .item-lista-bands .img-default, .item-lista-bands .item-info{
    display: inline-block;
    font-size: 11pt;
    vertical-align: top;
    color: #9F0902;
}

.item-lista-bands:hover{
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGFkYWQiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(173,173,173,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(173,173,173,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(173,173,173,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(173,173,173,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(173,173,173,0.5) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(173,173,173,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6adadad',GradientType=1 ); /* IE6-8 */
}

.nome-banda-item, .ver-produtos-label{
    margin-left: 26px;
    margin-top: 6px;
    display: inline-block;
    width: 100%;
}

.nome-banda-item{
    font-weight: bold;
    font-size: 20px;
}

.ver-produtos-label{
    font-size: 14px;
    font-style: italic;
    position: relative;
    top: 5px;
}

/* Área de Lojas */

.loja-bandas{
    margin: 20px auto 10px auto;
}

.loja-bandas .item-lista-bands{
    min-height: 90px;
}

.loja-bandas .item-lista-bands img{
    height: 120px;
    width: 160px;
}

.loja-bandas h2{
    margin-left: 5px;
}

/* Área de Shows */

section.area-show-home{
    font-size: 0px;
    margin: 10px auto;
}

.content .content-home{
    width: 1000px;
}

section.area-show-home article.titulo-show{
    width: 460px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    position: relative;
}

section.area-show-home .titulo-show ul{
    height: 715px;
    width: 460px;
}

section.area-show-home .titulo-show ul li{
    height: 52px;
}

.explicacao-site {
    background-color: #FBFBFB;
    border-bottom: 0 none;
    margin: 0 0 65px;
    padding: 35px 0 0;
    width: 100%;
}

.explicacao-site h2 {
    color: #EC1D14;
    font-family: Decker;
    font-size: 10px;
    font-weight: bold;
    margin: 5px 0 10px 180px;
    text-transform: uppercase;
}

.explicacao-site span{
    color: #555;
    font-size: 11pt;
    margin-bottom: 4px;
    font-family: Tahoma;
}

.area-login-botoes{
    display: inline-block;
    margin-top: 10px;
}

.shows-local h2{
    margin-left: 5px;
}

section.area-show-home article.minhas-bandas-shows{
    float: right;
}

section.area-show-home article .minhas-bandas-shows-lista{
    height: 669px;
}

.explicacao{
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.texto-normal{
    text-decoration: none;
    font-weight: normal;
}

section.area-show-home article ul li a.item-lista-shows{
    font-size: 0;
}

section.area-show-home article ul li a.item-lista-shows img,
section.area-show-home article ul li a.item-lista-shows span.img-default{
    border: 1px solid #333;
    height: 50px;
    margin-right: 5px;
    width: 50px;
}

section.area-show-home article ul li a.item-lista-shows span.info-show {
    height: 52px;
}

section.area-show-home article ul li a.item-lista-shows span span.banda-show,
section.area-show-home article ul li a.item-lista-shows span span.data-show {
    color: #9F0902;
    display: inline-block;
    margin-left: 56px;
    margin-top: 6px;
    position: relative;
    top: -54px;
    width: 398px;
}

section.area-show-home article ul li a.item-lista-shows span span.banda-show {
    font-weight: bold;
}

.opcoes-procurar-bandas{
    margin-bottom: 15px;
}

.fullwidth-textbox{
    width: 65%;
}

.modal-body textarea {
    width: 98%;
}

.modal-body input {
    width: 90%;
}

.modal-body label {
    display: inline-block;
    margin: 5px 0;
}