section.descricao{
    width: 56%;
    height: auto;
    min-height: 100%;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}

@media (min-height: 800px){
    section.descricao {
        min-height: 660px;
    }
}

section.descricao article{
    width: 480px;
    float: right;
    margin-right: 20px;
    font-size: 16px;
}

section.descricao article span.line{
    clear: both;
    display: block;
    margin: 3px 0;
}

section.descricao article.problema{
    padding-top: 42px;
}

section.descricao article.problema span.line-strong{
    font-weight: bold;
    margin-bottom: 35px;
}

section.descricao article.problema span.line-strong b{
    color: #d43129;
}

section.descricao article.solucao, article.proposta{
    font-family: Tahoma;
}

section.descricao article.solucao span.line{
    margin-bottom: 35px;
}

section.descricao article.solucao{
    font-family: Tahoma;
    font-size: 14px;
    height: auto;
}

section.descricao article.solucao ul{
    margin-bottom: 35px;
    padding-left: 35px;
}

section.descricao article.solucao ul li{
}

section.descricao article.proposta{
    height: auto;
}

section.descricao article.proposta span.line{
    margin-bottom: 35px;
    font-weight: bold;
}

section.informacoes-existentes{
    width: 44%;
    height: auto;
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
}

section.informacoes-existentes section.users, section.informacoes-existentes section.tagcloud{
    background-color: #FFFFFF;
    border: 1px solid #B8B8B8;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
    height: auto;
    margin-top: 40px;
    min-height: 199px;
    padding: 15px;
    width: 310px;
}

section.informacoes-existentes section.users header.users-in-bd{
    background: none repeat scroll 0 0 transparent;
    font-size: 11px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

section.informacoes-existentes section.users header.users-in-bd a{
    color: #D43129;
    text-decoration: none;
}

section.informacoes-existentes section.users header.users-in-bd a:hover{
    color: #870802;
}

section.informacoes-existentes section.users section.users-body{
    margin: 0 auto;
    width: 280px;
}

section.informacoes-existentes section.users section.users-body div.user{
    float: left;
    margin: 10px 10px 0px 0px;
}

section.informacoes-existentes section.users section.users-body div.user div.user-body{
    width: 60px;
}

section.informacoes-existentes section.users section.users-body div.user div.user-body span.user-name{
    font-size: 12px;
    display: inline-block;
    margin: 0px auto;
}

section.informacoes-existentes section.users hr, section.informacoes-existentes section.tagcloud hr{
    color: #EEEEEE;
}

section.informacoes-existentes .number-of-users, section.informacoes-existentes .number-of-bands{
    font-weight: bold;
    text-decoration: underline;
    font-size: 11px;
}

section.informacoes-existentes section.tagcloud header.bands-in-bd{
    background: none repeat scroll 0 0 transparent;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

section.informacoes-existentes section.tagcloud section.bands-body{
    width: 310px;
}

section.informacoes-existentes section.tagcloud section.bands-body a{
    color: #000000;
    text-decoration: none;
}
section.informacoes-existentes section.tagcloud section.bands-body a:hover{
    color: #870802;
}

section.informacoes-existentes section.tagcloud section.bands-body a.size-0{
    font-size: 10px;
}
section.informacoes-existentes section.tagcloud section.bands-body a.size-1{
    font-size: 12px;
}
section.informacoes-existentes section.tagcloud section.bands-body a.size-2{
    font-size: 14px;
}
section.informacoes-existentes section.tagcloud section.bands-body a.size-3{
    font-size: 16px;
}
section.informacoes-existentes section.tagcloud section.bands-body a.size-4{
    font-size: 18px;
}
section.informacoes-existentes section.tagcloud section.bands-body a.size-5{
    font-size: 18px;
}
section.informacoes-existentes section.tagcloud section.bands-body a.size-6{
    font-size: 20px;
}
