/* Área de Funcionalidades */
section.funcionalidades-home{
    margin-top: 30px;
}

section.funcionalidades-home article{
    width: 270px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    border: 1px solid rgba(66, 66, 66, 0.3);
    border-top: 2px solid #9F0902;
    -webkit-box-shadow: 0px 2px 1px 1px rgba(200, 200, 200, 0.5);
    box-shadow: 0px 2px 1px 1px rgba(200, 200, 200, 0.5);
}

section.funcionalidades-home article.acompanhe-shows{
    margin-left: 0;
}

section.funcionalidades-home article.siga-bandas{
    margin: 0 auto 0 39px;
}

section.funcionalidades-home article.cadastre-bandas{
    float: right;
}

section.funcionalidades-home article a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

section.funcionalidades-home article span{
    float: left;
    background: url("/static/img/icones-home.jpg") no-repeat top left;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto 10px;
}

section.funcionalidades-home article span.cadastre-bandas-icone{
    background-position: 0 0;
}

section.funcionalidades-home article span.siga-bandas-icone{
    background-position: -48px 0px;
}

section.funcionalidades-home article span.acompanhe-shows-icone{
    background-position: -100px 0;
}

section.funcionalidades-home article h2{
    color: #9F0902;
}

.newsletter {
    width: 100%;
    height: 60px;
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #f8f8f8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #C7C7C7;
    border-radius: 0 3px 3px 0;
    border-right: 1px solid #CFCFCF;
    border-top: 1px solid #E0E0E0;
}

.newsletter-inner{
    border-left: 2px solid #9F0902;
    height: 100%;
}

.question{
    color: #9F0902;
    font-family: arial;
    font-size: 15px;
}

.icon-email {
    background: url("/static/img/newsletter.jpg") no-repeat top left;
    width: 50px;
    height: 50px;
    top: 8px;
    position: relative;
}

.newsletter .question{
    top: 22px;
    position: relative;
}

.newsletter .answer-principal {
    top: 14px;
    position: relative;
}

.newsletter span {
    float: left;
    margin: 0 10px;
}

/* Área de Shows */

section.area-show-home{
    font-size: 0px;
    margin: 30px auto;
}

section.area-show-home article.titulo-show{
    width: 460px;
    display: inline-block;
    vertical-align: top;
    font-size: 11pt;
    position: relative;
}

section.area-show-home article.explicacao-site{
    width: 100%;
}

section.area-show-home article h2{
    color: #9F0902;
    border-bottom: 2px solid #9F0902;
}

section.area-show-home article.minhas-bandas-shows{
    float: right;
}

section.area-show-home article ul{
    position: relative;
    border: 1px solid #B8B8B8;
    border-radius: 8px 8px 8px 8px;
    height: 715px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 460px;
}

section.area-show-home article .minhas-bandas-shows-lista{
    height: 669px;
}

section.area-show-home article ul li{
    height: 52px;
    list-style: none outside none;
    margin: 5px 5px 15px;
}

.explicacao{
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
}

.texto-normal{
    text-decoration: none;
    font-weight: normal;
}

section.area-show-home article ul li a.item-lista-shows{
    display: inline-block;
    font-size: 0;
    height: 100%;
    width: 100%;
}

section.area-show-home article ul li a.item-lista-shows img,
section.area-show-home article ul li a.item-lista-shows span.img-default{
    border: 1px solid #9F0902;
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 50px;
    margin-right: 5px;
    vertical-align: top;
    width: 50px;
}

section.area-show-home article ul li a.item-lista-shows span.info-show {
    display: inline-block;
    font-size: 11pt;
    height: 52px;
    vertical-align: top;
}

section.area-show-home article ul li a.item-lista-shows span span.banda-show,
section.area-show-home article ul li a.item-lista-shows span span.data-show {
    color: #9F0902;
    display: inline-block;
    margin-left: 56px;
    margin-top: 6px;
    position: relative;
    top: -54px;
    width: 398px;
}

section.area-show-home article ul li a.item-lista-shows span span.banda-show {
    font-weight: bold;
}

.opcoes-procurar-bandas{
    margin-bottom: 15px;
}

.fullwidth-textbox{
    width: 65%;
}
