/ *Geral */

.area-bandas-nova-home .lista-pagina-principal-container{
    margin: 20px 0px;
}

.area-bandas-nova-home .minhas-bandas{
    background: none;
    width: 100%;
    border-bottom: 0;
}

.icone-banda-default{
    background-image: url("../img/banda-default.jpg");
}

/* Explicação do site */

.area-bandas-nova-home .explicacao-site h2{
    font-size: 24px;
}

/* Minhas bandas */

.minhas-bandas-lista{
    width: 100%;
}

/* Busca */

.minhas-bandas .opcoes-procurar-bandas-text{
    height: 24px;
    margin-right: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 83%;
    border: 1px solid #C0C0C0;
}

/* Cada Banda */

/* Container da Banda */

.minhas-bandas-lista li{
    width: 86%;
    font-size: 0;
    position: relative;
}

.minhas-bandas-lista .item-lista-bands{
    height: 54px;
    margin: 0 0 20px 2px;
    width: 95%;
}

/* Foto da Banda */
.minhas-bandas .area-banda{
    position: relative;
    height: auto;
}

.minhas-bandas .lastfm-photo{
    height: 252px;
    vertical-align: top;
    width: 252px;
}

.minhas-bandas .logo-banda-container {
    height: 256px;
    left: 35px;
    position: absolute;
    top: 19px;
    width: 256px;
    z-index: 1;
}

/* Header da Banda */

.minhas-bandas h2{
    display: inline-block;
    font-size: 0px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.favoritar{
    font-size: 20px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}

.favoritar:visited span,
.rating > span:hover:before,
.rating > span:hover ~ span:before,
.favoritar:active span,{
    content: "\2605";
    position: absolute;
    color: #9F0902;
    background-color: #9F0902;
}

.minhas-bandas .info-banda-nome{
    font-size: 30px;
}

.minhas-bandas .info-banda-header-menor{
    font-size: 14px;
    display: inline-block;
    margin: 0px 0px 0px 20px;
}

.minhas-bandas input.nota{
    height: 17px;
    margin-left: 5px;
    width: 25px;
}

.minhas-bandas h3{
    font-size: 16px;
    margin: 0 10px 10px 2px;
}

/* Outras informacoes da Banda*/

.close-banda{
    font-size: 18px;
    position: absolute;
    right: 26px;
    top: 19px;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #c0c0c0;
    color: #333333;
    background-color: #ffffff;
    height: 25px;
    width: 25px;
}

.info-banda{
    display: inline-block;
    vertical-align: top;
    width: 65%;
}

.banda-mais-opcoes {
    margin-bottom: 10px;
}

.banda-mais-opcoes button{
    margin-right: 5px;
}

.minhas-bandas-lista .item-info span{
    margin-left: 62px;
    font-size: 16px;
}

.info-banda-genero {
    font-size: 14px;
}

.info-banda-genero-div, .info-banda-header {
    margin-bottom: 10px;
}
