/* Geral */

.modal.hide{
    display: none;
}

.modal-header .close {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #CCCCCC;
}

.area-bandas-nova-home .lista-pagina-principal-container{
    margin: 0;
}

.area-bandas-nova-home .minhas-bandas{
    background: none;
    width: 100%;
    border-bottom: 0;
}

.icone-banda-default{
    background-image: url("/static/img/banda-default.jpg");
}

.explicacao-linha-unica{
    width: 100%;
}

/* Explicação do site */

.area-bandas-nova-home .explicacao-site h2{
    font-size: 24px;
}

/* Minhas bandas */

.minhas-bandas-lista{
    width: 100%;
}

/* Busca */

.minhas-bandas .opcoes-procurar-bandas {
    margin: 30px 0px;
}

.minhas-bandas .opcoes-procurar-bandas-text{
    height: 24px;
    margin-right: 6px;
    text-align: left;
    width: 83%;
    border: 1px solid #C0C0C0;
    padding-left: 10px;
    font-size: 16px;
}

.minhas-bandas .procurar{
    margin-left: 13px;
}

/* Cada Banda */

/* Container da Banda */

.minhas-bandas-lista li{
    width: 86%;
    font-size: 0;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.minhas-bandas-lista .item-lista-bands{
    height: 54px;
    margin: 0 90px 0 0;
    vertical-align: top;
    width: 300px;
}

/* Foto da Banda */

.minhas-bandas .area-banda {
    height: auto;
    left: 39px;
    position: relative;
    top: -20px;
}

.minhas-bandas .lastfm-photo{
    height: 252px;
    vertical-align: top;
    width: 252px;
}

.photo-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
 }

.minhas-bandas .logo-banda-container {
    height: 256px;
    left: 35px;
    position: absolute;
    top: 19px;
    width: 256px;
    z-index: 1;
}

/* Header da Banda */

.minhas-bandas h2{
    display: inline-block;
    font-size: 0px;
}

.favoritar{
    display: inline-block;
    background: url("/static/img/favorite-star-icons.png") no-repeat;
    background-position: -16px 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

.favoritar.favoritou{
    background-position: 0 0;
}

.minhas-bandas .info-banda-nome{
    font-size: 29px;
    position:relative;
    top: -14px;
    margin-left: 10px;
}

.hidden{
    display: none !important;
}

.label {
    font-size: 14px;
    position: relative;
    top: -20px;
    margin-left: 35px;
    text-decoration: underline;
    color: #9F0902;
    cursor: pointer;
}

.minhas-bandas .info-banda-header-menor{
    font-size: 14px;
    margin-left: 15px;
    display: inline-block;
}

.info-banda-header {
    cursor: pointer;
    margin: 0;
    padding: 8px 0 3px 10px;
    width: 100%;
}

.small {
    background-size: 50px 50px;
}

/* Share e comentarios */

.minhas-bandas .share {
    display: inline-block;
    position: absolute;
    right: 100px;
    top: 70px;
    width: 195px;
}

.share .addthis_button_facebook_like{
    position: absolute;
    left: 0px;
}

.share .shares-menores{
    position: absolute;
    right: 0px;
    top: 2px;
}

.share .addthis_button_twitter{
    position: relative;
    left: 0px;
}

.minhas-bandas .comentarios {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 15px;
    font-size: 14px;
}

/* Resto das informacoes */

.minhas-bandas .nota{
    font-size: 12px;
    height: 21px;
    margin-left: 5px;
    position: relative;
    top: -1px;
    width: 45px;
}

.minhas-bandas .pergunte-sobre-a-banda {
    margin-left: 50px;
}

.similares-body {
    font-size: 0;
    display: inline-block;
}

.similares-linha {
    display: inline-block;
    font-size: 14px;
    margin-left: 25px;
    vertical-align: top;
    width: 150px;
}

.primeira-linha-similar{
    margin-left: 5px;
}

.similar{
    display: inline-block;
    width: 100%;
    margin: 4px 0px;
}

.minhas-bandas .navegacao-show-container{
    font-size: 0;
    height: 52px;
    margin-bottom: 20px;
}

.minhas-bandas .band-navegacao-show{
    display: inline-block;
    background: url("/static/img/navegacao-shows.png") no-repeat;
    background-position: 0 0;
    width: 39px;
    height: 54px;
    border: 0;
    vertical-align: top;
}


section.area-show-home .minhas-bandas ul li a.item-lista-shows span.info-show {
    height: 52px;
    width: 236px;
}

section.area-show-home .minhas-bandas ul li a.item-lista-shows span span.banda-show,
section.area-show-home .minhas-bandas ul li a.item-lista-shows span span.data-show {
    color: #9F0902;
    display: inline-block;
    margin-left: 5px;
    margin-top: 6px;
    position: relative;
    top: 0px;
    width: 250px;
}

.minhas-bandas .band-prev-show{
    margin-right: 70px;
}

.minhas-bandas .band-next-show{
    background-position: -39px 0;
    margin-left: 30px;
}

.minhas-bandas h3{
    font-size: 16px;
    margin: 20px 10px 10px 2px;
}

/* História em Timeline */

.timeline-banda {
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
}

.invisivel{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1000;
}

.timeline-banda h3{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
}

/* Outras informacoes da Banda*/

.close-banda{
    font-size: 18px;
    position: absolute;
    right: 26px;
    top: 19px;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #c0c0c0;
    color: #333333;
    background-color: #ffffff;
    height: 25px;
    width: 25px;
}


.info-banda {
    display: block;
    margin: 0 auto;
    vertical-align: top;
    width: 65%;
}

.contribua-timeline {
    left: 8px;
    position: relative;
    top: -50px;
}

.banda-mais-opcoes {
    margin: 0px 0 50px;
}

.banda-mais-opcoes-baixo{
    margin: 50px 0;
}

.banda-mais-opcoes button{
    margin-right: 5px;
}

.banda-mais-opcoes .comprar-ingressos-camisas {
    float: right;
    margin-right: 34px;
}

.minhas-bandas-lista .item-info span{
    margin-left: 62px;
    font-size: 16px;
}

.info-banda-link {
    color: #9F0902;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}


.minhas-bandas li.banda-loading {
    left: 0;
    padding: 20px 0 19px;
    position: absolute;
    text-align: center;
    top: 0;
}

/* Produtos */

.modal-produtos {
    width: 732px;
}

.modal-produtos .modal-body {
    width: 100%;
}

.modal-produtos .area-produtos {
    width: 100%;
}
.lista-pagina-principal-container .lista-produtos {
    width: 700px;
}

/* IPAD */

/* Landscape */

@media (max-device-width: 1024px) and (orientation: landscape) {
    .area-bandas-nova-home .explicacao-site h2 {
        font-size: 22px;
    }

    .minhas-bandas .close-banda{
        width: 15px;
    }

    .minhas-bandas .comentarios {
        width: 550px;
    }

    .minhas-bandas .opcoes-procurar-bandas-text {
        width: 74%;
    }
}

/* Portrait */

@media (max-width: 768px) {
    body, .container, .content {
        width: 768px;
        margin: 0;
    }

    .area-bandas-nova-home {
        width: 100%;
    }

    header .div-topo {
        width: 590px;
    }

    section.area-show-home article.explicacao-site {
        width: 620px;
        margin-left: 25px;
    }

    .area-bandas-nova-home .explicacao-site h2 {
        font-size: 17px;
    }

    .area-bandas-nova-home .minhas-bandas {
        width: 90%;
    }

    .minhas-bandas .opcoes-procurar-bandas {
        width: auto;
        font-size: 0;
        padding-left: 18px;
    }

    .minhas-bandas .opcoes-procurar-bandas-text {
        width: 500px;
        display: inline-block;
        font-size: 14px;
        vertical-align: top;
        position: relative;
        top: 1px;
        height: 26px;
    }

    .minhas-bandas .procurar {
        display: inline-block;
        vertical-align: top;
    }

    .lista-pagina-principal-container ul {
        width: 730px;
        padding-left: 22px;
    }

    .minhas-bandas .logo-banda-container {
        height: 128px;
        width: 128px;
    }

    .minhas-bandas .lastfm-photo {
        height: 124px;
        width: 124px;
    }

    .minhas-bandas .share {
        right: 238px;
        top: 102px;
    }

    .minhas-bandas .close-banda{
        width: 15px;
    }

    .minhas-bandas .info-banda-nome {
        font-size: 20px;
        margin-left: 20px;
    }

    .minhas-bandas .label {
        font-size: 12px;
        top: -15px;
    }

    .banda-mais-opcoes {
        margin: 32px 0 20px;
    }

    .minhas-bandas .navegacao-show-container {
        margin-bottom: 15px;
    }

    .banda-mais-opcoes-baixo{
        margin-top: 0px
    }

    .banda-mais-opcoes button {
        margin-top: 15px;
    }

    .minhas-bandas .navegacao-show-container .band-navegacao-show{
        display: none;
    }

    .timeline-banda{
        padding-left: 25px;
    }

    .timeline-banda iframe {
        width: 650px;
        height: 700px;
        position: relative;
        left: -7px;
    }

    .minhas-bandas .comentarios {
        width: 550px;
    }

    /* Produtos */

    .modal-produtos, .lista-pagina-principal-container .lista-produtos{
        width: 600px;
    }

    .lista-produtos li.produto {
        list-style: none outside none;
        width: 549px;
    }

}


