section.content header{
    background: none;
    height: auto;
    font-size: 16px;
}

section.feedback, section.feedback-success{
    margin: auto;
    font-size: 16px;
}

section.feedback form{
    display: block;
    margin: auto;
    width: 500px;
}

section.questions div.answer label.label-outros {
    display: inline-block;
    width: 100%;
    margin: 6px auto;
    font-weight: bold;
}

section.questions span.question{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

section.question-main span.question, section.questions span.question{
    font-weight: bold;
}

section.questions input[type=submit]{
    margin: 15px 0px;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    height: 35px;
    font-size: 18px;
}

section.feedback-success{
    margin-bottom: 50px;
}

section.feedback-success ul.list_bands_user_likes{
    margin: 10px 0px;
    font-size: 0px;
    height: 400px;
}

section.feedback-success ul.list_bands_user_likes div{
    padding: 10px 0px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}

section.feedback-success ul.list_bands_user_likes div.minhas-bandas{
    float: right;
    width: 250px;
}

section.feedback-success ul.list_bands_user_likes div.minhas-bandas ul,
section.feedback-success ul.list_bands_user_likes div.bandas-sugeridas ul{
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    height: 400px;
    width: 400px;
    border: 1px solid #B8B8B8;
    border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px;
    margin-top: 10px;

}
section.feedback-success ul.list_bands_user_likes div.minhas-bandas input.search{
    width: 200px;
}

section.feedback-success ul.list_bands_user_likes li{
    list-style: none;
    margin-left: 10px;
    margin-top: 6px;
}

section.feedback-success ul.list_bands_user_likes span.label-area-bandas{
    display: block;
}

section.feedback-success h2{
    margin: 15px auto;
}


section.feedback-success h2.thank-you{
    font-weight: bold;
}

section.feedback-success div.add_bands{
    margin: 30px auto;
    width: 700px;
}

section.feedback-success div.opcoes-adicionar-minhas-bandas{
    font-size: 0px;
    width: 450px;
}

section.feedback-success div.opcoes-adicionar-minhas-bandas input.adicionar-item-votacao-text{
    width: 200px;
    opacity: 0.6;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

section.feedback-success div.opcoes-adicionar-minhas-bandas input.adicionar-item-votacao-text:focus{
    opacity: 1;
}

section.feedback-success div.opcoes-adicionar-minhas-bandas div.add_bands input.add-btn{
    font-size: 14px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

section.feedback-success div.salvar-btn-div{
    margin: 0px auto;
    width: 700px;
    height: 45px;
    padding-top: 20px;
    margin-top: 130px;
}

section.feedback-success div.salvar-btn-div a.salvar-btn{
    width: 150px;
    text-align: center;
    text-decoration: none;
    height: 21px;
    font-size: 18px;
    margin: 0px auto;
    display: block;
}
