section.content header{
    background: none;
    height: auto;
    font-size: 16px;
}

section.feedback, section.feedback-success{
    margin: auto;
    font-size: 16px;
}

section.feedback form{
    display: block;
    margin: auto;
    width: 500px;
}

section.questions div.answer label.label-outros {
    display: inline-block;
    width: 100%;
    margin: 6px auto;
    font-weight: bold;
}

section.questions span.question{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 5px;
}

section.question-main span.question, section.questions span.question{
    font-weight: bold;
}

section.questions input[type=submit]{
    margin: 15px 0px;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    height: 35px;
    font-size: 18px;
}

section.feedback-success{
    margin-bottom: 50px;
}

section.feedback-success ul.list_bands_user_likes{
    margin: 10px 0px;
}

section.feedback-success ul.list_bands_user_likes li{
    list-style: disc;
}

section.feedback-success h2{
    margin: 15px auto;
}

section.feedback-success input.adicionar-item-votacao-text{
    width: 250px;
    opacity: 0.6;
}

section.feedback-success input.adicionar-item-votacao-text:focus{
    opacity: 1;
}

section.feedback-success h2.thank-you{
    font-weight: bold;
}

section.feedback-success div.add_bands{
    margin: 30px auto;
    width: 500px;
}

section.feedback-success div.add_bands input.add-btn{
    font-size: 14px;
    height: 30px;
}

section.feedback-success div.salvar-btn-div{
    margin: 0px auto;
    width: 500px;
    height: 45px;
}

section.feedback-success div.salvar-btn-div a.salvar-btn{
    width: 150px;
    text-align: center;
    text-decoration: none;
    height: 21px;
    font-size: 18px;
}
