html, body{
    font-family: arial;
    height: 100%;
    height: auto;
    margin:0;
    padding:0;
}

.container {
    position: relative;
    height: auto !important;
    height: 100%; /* IE6 */
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
}

.content {
    font-family: arial;
    height: 100%;
    margin: 0;
    min-height: 500px;
    padding: 0;
    font-size: 0;
}

@media (min-height: 800px){
    .content {
        min-height: 710px;
    }
}

header {
    background-color: #9F0902;
    height: 128px;
    padding-top: 17px;
}

header h1.logo {
    text-indent: -99999px;
    margin: 0px auto;
}

header h1.logo a{
    display: block;
    height: 100%;
}

header div.div-logo{
    display: inline-block;
    width: 50%;
}

header div.user-box-top{
    display: inline-block;
    text-align: center;
    width: 40%;
}

header div.user-box-top a{
    font-family: tahoma;
    text-decoration: none;
    color: white;
}
header div.user-box-top a:hover{
    text-decoration: underline;
}

.btn-auth {
    -moz-box-sizing: content-box;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

h2{
    font-size: 18px;
    margin: 15px auto;
}

ul{
    margin: 0px 0px;
    padding: 0px 0px;
}

section{
    margin: 5px auto;
}

section.container p{
    margin-bottom: 10px;
    line-height: 22px;
}

section.container p b{
    font-weight: bold;
}

textarea {
    resize: none;
    width: 550px;
    height: 220px;
}

.hidden{
    display: none !important;
}

footer {
    text-align: center;
    font-size: 11px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #9f0902;
    height: 64px;
    padding-top: 20px;
    width: 100%;
}

footer a {
    color: #FFFFFF;
    text-decoration: underline;
}

footer a:hover {
    font-weight: bold;
}

footer a.new_link{
    font-weight: bold;
    font-size: 16px;
}

/* Facebook Button*/

.btn-facebook:before {
    background-position: 0 0;
    border-right: 1px solid #465F94;
    margin: 0 1em 0 -1em;
}
.btn-auth:before {
    background: url('/static/img/sprite.png') no-repeat top left scroll transparent;
    background-position: 0 0;
    content: "";
    float: left;
    height: 36px;
    width: 36px;
}
.btn-auth.large {
    font-size: 20px;
    height: 36px;
    line-height: 36px;
}
.btn-facebook {
    background-color: #5872A7;
    background-image: linear-gradient(#637BAD, #5872A7);
    border-color: #29447E #29447E #1A356E;
    box-shadow: 0 1px 0 #879AC0 inset;
    color: #FFFFFF;
    margin-bottom: 35px;
}

/*Botão azul*/

.shiny-blue {
    background-color: #759AE9;
    background-image: -moz-linear-gradient(center top , #759AE9 0%, #376FE0 50%, #1A5AD9 50%, #2463DE 100%);
    border-color: #1F58CC #1B4DB3 #174299;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 2px 0 rgba(57, 140, 255, 0.8) inset;
    color: #FFFFFF;
    font: bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 7px 0;
    text-shadow: 0 -1px 1px #1A5AD9;
    width: 150px;
    margin-top: 60px;
}
.shiny-blue:hover {
    background-color: #5D89E8;
    background-image: -moz-linear-gradient(center top , #5D89E8 0%, #2261E0 50%, #044BD9 50%, #0D53DE 100%);
    cursor: pointer;
}
.shiny-blue:active {
    border-color: #1B4DB3 #174299 #133780;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 5px 2px #1A47A0 inset, 0 1px 0 #EEEEEE;
}
.facebook-icon, .icone-musicas, .logo{
    background: url("/static/img/sprite.png") no-repeat top left;
    display: block;
}
.facebook-icon{
    background-position: 0 0;
    width: 36px;
    height: 36px;
}
.icone-musicas{
    background-position: 0 -46px;
    width: 65px;
    height: 64px;
    margin: auto
}
.logo{
    background-position: 0 -120px;
    width: 134px;
    height: 111px;
}
