body {
    font-family: arial;
}

.container {
    width: 940px;
    margin: 0 auto;
}

header {
    border-bottom: solid 1px #ccc;
}

header h1 {
    background: url('../img/logo.png') no-repeat;
    width: 475px;
    height: 68px;
    text-indent: -99999px;
    margin: 80px auto 0 auto;
    padding-bottom: 45px;
}

section{
    margin: 5px auto;
}

textarea {
    resize: none;
    width: 550px;
    height: 220px;
}

.hidden{
    display: none !important;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 11px;
    line-height: 17px;
    font-weight: bold;
    color: #666;
}

footer a {
    color: #a71818;
    text-decoration: none;
}

footer a:hover {
    color: #c81d1d;
}

footer a.new_link{
    font-weight: bold;
    font-size: 16px;
}
