.produtos-section{
    font-size: 0px;
    width: 900px;
    margin: 0 auto;
    font-family: Verdana;
}
.box-gray{
    background-color: #eeeeee;
}
/* Area esquerda */
.area-banda{
    padding: 20px 45px 20px 45px;
    height: 460px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.logo-banda{
    width: 300px;
    height: 260px;
    margin: 0 auto;
    display: block;
}

/* Area direita */
.area-produtos{
    display: inline-block;
    vertical-align: top;
    width: 500px;
    font-size: 14px;
}
.lista-produtos{
    width: 475px;
    float: right;
}
.produto {
    display: block;
    font-size: 14px;
    list-style: none outside none;
    width: 250px;
    margin: 0px 0px 15px 0px;
}

.titulo-produtos{
    color: #333333;
    font-family: 'Kreon',serif;
    font-weight: lighter;
    margin: 0 0 20px 35px;
}

.nome-banda-produtos{
    color: #888888;
    font-family: 'Kreon',serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 20px 25px;

}

.info-produto{
    width: 410px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
}

.produto img {
    height: 125px;
    width: 125px;
    display: inline-block;
    vertical-align: top;
}

.produto .nome-produto {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    position: absolute;
    top: 0px;
}

.produto .quantidade {
    margin-left: 5px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100px;
}

.produto .quantidade-camisas{
    width: 150px;
}

.produto .valor-produto {
    font-size: 18px;
    margin-left: 5px;
    color: #333333;
    position: absolute;
    bottom: 5px;
    word-spacing: -2px;
}

.pague-com-pag-seguro{
    width: 210px;
    margin: 10px auto;
}
